<%- include("templates/encabezado") %>
<div class="contenedor">
    <form>
    <center>
    <h1>Error</h1>

<h5><%= mensaje %></h5>
<br>
<h5>Te recomendamos que intente poner otro nombre de usuario diferente</h5>
</center>
</form>
</div>
<%- include("templates/pie") %>