<!DOCTYPE html>
<html lang="es">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>ALFA</title>

<!-- bootstrap css -->
<link rel="stylesheet" href="/web/css/bootstrapmin.css">
<!-- style css -->
<link rel="stylesheet"  href="/web/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/web/css/responsive.css">

<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/web/css/jquerymCustomScrollbarmin.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/web/css/owlcarouselmin.css">
<link rel="stylesheet" href="/web/css/owlthemedefaultmin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="icon" href="/web/images/alfa.png" type="image/png">
</head>
<body>
	<!--header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="logo"><a href="/home"><img src="/web/images/alfa-logo.png"></a></div>
				</div>
				<div class="col-sm-6">
					<div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Menu</a> -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                <a class="nav-link" href="/home">Inicio<span class="sr-only">(current)</span></a> </li>
                               <li class="nav-item">
                                <a class="nav-link" href="/prototipo">Prototipo</a></li>
                               <li class="nav-item">
                                <a class="nav-link" href="/acercade">Acerca de</a></li>

                            </ul>
                        </div>
                    </nav>
          </div>
				</div>
				<div class="col-sm-4">
            <ul class="top_button_section">
               <li><a class="login-bt active" href="/login">Iniciar sesion</a></li>
               <li><a class="login-bt" href="/registro">Registrarse</a></li>
               <li class="search"><a href="#"><img src="/web/images/search-icon.png" alt="#" /></a></li>
            </ul>
					</div>
			</div>

    <div class="row">
      <div class="banner_section layout_padding">
      <section>
         <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                    <div class="container">
                     <div class="row marginii">
                        <div class="col-md-5 col-sm-12">
                           <div class="carousel-sporrt_text ">
                              <h1 class="banner_taital">¿Qué es ALFA?</h1>
                            <p class="lorem_text">Somos un equipo dedicado al uso de la tecnologia para apoyar a las personas con dificultades como el analfabetismo</p>
                           </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                           <div class="img-box">
                              <figure><img src="/web/images/alfa-logo.png" style="max-width: 100%;"/></figure>
                           </div>
                        </div>
                    </div>
                  </div>
               </div>
               <div class="carousel-item">
                    <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-sporrt_text ">
                              <h1 class="banner_taital">Prototipo</h1>
                    <p class="lorem_text">Actualmente trabajamos con un prototipo para un dedal y guante </p>
                    <p class="lorem_text">para el apoyo a los analfabetas</p>
                    <div class="ads_bt"><a href="/prototipo">Conocer mas</a></div>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="/web/images/proyecto dedal2.jpg" style="max-width: 60%;"/></figure>
                           </div>
                        </div>
                    </div>
                  </div>
               </div>
               <div class="carousel-item">
                    <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-sporrt_text ">
                              <h1 class="banner_taital">Nuestro equipo</h1>
                    <p class="lorem_text">Nosotros somo un grupo de ingenieros con el objetivo de apoyar</p>
                    <p class="lorem_text">a las personas con dificultades para el aprendizaje</p>
                    <div class="ads_bt"><a href="#">Conocenos</a></div>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="/web/images/diselexia.png" style="max-width: 60%;"/></figure>
                           </div>
                        </div>
                    </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                   <div class="row marginii">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                         <div class="carousel-sporrt_text ">
                            <h1 class="banner_taital">Mision</h1>
                  <p class="lorem_text">Facilitar la lectura tanto de escritura como imágenes </p>
                  <p class="lorem_text">para personas ciegas o analfabetas.</p>
                         </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                         <div class="img-box">
                            <figure><img src="/web/images/lectura.jpg" style="max-width: 60%;"/></figure>
                         </div>
                      </div>
                  </div>
                </div>
             </div>
             <div class="carousel-item">
               <div class="container">
                <div class="row marginii">
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="carousel-sporrt_text ">
                         <h1 class="banner_taital">Visión</h1>
               <p class="lorem_text">Lograr que el equipo de desarrollo ALFA a través de la</p>
               <p class="lorem_text">innovación tecnológica y la mejora en la accesibilidad, </p>
               <p class="lorem_text">se desarrolle un prototipo de dedal para el reconocimiento</p>
               <p class="lorem_text">de texto y su reproducción mediante síntesis de voz</p>
                      </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="img-box">
                         <figure><img src="/web/images/alfa-logo.png" style="max-width: 100%;"/></figure>
                      </div>
                   </div>
                 </div>
               </div>
             </div>
            </div>
         </div>
      </section>
    </div>
    </div>

		</div>
        <!--header section end -->
        
		</div>
	</div>
    <!--banner section end -->
	<!--about section start -->
    <div class="about_section layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="tablet"><img src="/web/images/tablet-img.png"></div>
    			</div>
    			<div class="col-md-6">
    				<div class="about_taital">
    					<div class="about_text">CY<span style="color: #c6610f;">LE</span></div>
    					<p class="dolor_text">El proyecto CYLE fue creado por nuestro presidente Francisco Arturo Munguia Lopez para garantizar el apoyo a las personas con discapacidad visual apoyado con los avances tecnológicos, valores; creando así un ambiente inclusivo.</p>
    					<div class="read_more"><a href="#">Conocelo</a></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
	<!--client section end -->
	<!--footer section start -->
	<div class="footer_section layout_padding">
		<div class="container">
			<div class="row">
			    <div class="col-sm-3">
				    <div class="footer_contact">Contactanos</div>
			    </div>
			    <div class="col-sm-3">
				    <div class="location_text"><img src="/web/images/map-icon.png"><span style="padding-left: 10px;">Av La Palma No 125 Vista Hermosa, 76800 San Juan del Río, Qro.</span></div>
			    </div>
			    <div class="col-sm-3">
			    	<div class="location_text"><img src="/web/images/call-icon.png"><span style="padding-left: 10px;">427 103 3290</span></div>
			    </div>
			    <div class="col-sm-3">
			    	<div class="location_text"><img src="/web/images/mail-icon.png"><span style="padding-left: 10px;">Alfa@hotmail.com</span></div>
			    </div>
             <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="/web/images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="/web/images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="/web/images/in-icon.png"></a></li>
                  <li><a href="#"><img src="/web/images/instagram-icon.png"></a></li>
               </ul>           		
             </div>              
		    <div class="copyright_section">
		    	<p class="copyright_text">Copyright 2024 Derechos Reservados.<a href="#"> ALFA</p>
		    </div>
		</div>
	</div>
	<!--footer section end -->

      <!-- Javascript files-->
      <script src="/web/js/jquerymin.js"></script>
      <script src="/web/js/poppermin.js"></script>
      <script src="/web/js/bootstrapbundlemin.js"></script>
      <script src="/web/js/jquery-3min.js"></script>
      <script src="/web/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/web/js/jquerymCustomScrollbarconcatmin.js"></script>
      <script src="/web/js/custom.js"></script>
      <!-- javascript --> 
      <script src="/web/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      
</body>
</html>
